params.rawdata = "RawData"
params.genome = "Genome"
params.fastq = "FastQ"
params.fastqc = "FastQC"
params.mapping = "Mapping"
params.count = "GeneCount"
params.multiqc = "MultiQC"

params.ebi_fq = "https://ftp.sra.ebi.ac.uk/vol1/fastq/ERR268/"

params.fna_ftp = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/005/845/GCF_000005845.2_ASM584v2/GCF_000005845.2_ASM584v2_genomic.fna.gz"
params.gtf_ftp = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/005/845/GCF_000005845.2_ASM584v2/GCF_000005845.2_ASM584v2_genomic.gtf.gz"

params.read1Adapt = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
params.read2Adapt = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"

process.container = 'nextflow/examples:latest'
docker.enabled = true

dag.overwrite = true