params.path = "$launchDir"
params.rawdata = "$launchDir/RawData"
params.genome = "$launchDir/Genome"
params.fastq = "$launchDir/FastQ"
params.mapping = "$launchDir/Mapping"
params.count = "$launchDir/GeneCount"

params.read1Adapt = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
params.read2Adapt = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"

process.container = 'becavinlab/omicstd:latest'

docker {
	enabled = true
	runOptions = "--mount type=bind,source=$launchDir,target=$launchDir"
}